  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
 	      <a class="navbar-brand" href="/">UpPage - Manage your social presence</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      </div>
 </nav>

 		<div class="jumbotron">
          <div class="container">
            <p>Hi there, You can check your social fingerprint here</p>
			<table class="table table-hover" style="width: 70%">
			<th>Page Name</th>
			<th>Category</th>
			<th></th>
            {% for value in a["data"] %}
				<tr>
			    <td><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-256.png" style="width: 20px; height: 20px"> {{ value['name'] }} </td> 
			    <td>{{ value['category'] }}</td>
			    <td><button type="button" id="page-modal" data-id="{{value['id']}}" data-token="{{value['access_token']}}" class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal">View/Edit</button></td>
			    </tr>
			{% endfor %}
				<tr>
				
					<td><img src="http://www.freeiconspng.com/uploads/allpixm--google-plus-logo-png-13.png" style="width: 20px; height: 20px"> Sportify</td>
					<td>Sport</td>
					<td><button type="button" class="btn btn-sm btn-success">View/Edit</button></td>
				</tr>
				<tr>
				
					<td><img src="http://seeklogo.com/images/L/linkedin-icon-logo-05B2880899-seeklogo.com.gif" style="width: 20px; height: 20px"> Healthify</td>
					<td>Healthcare</td>
					<td><button type="button" class="btn btn-sm btn-success">View/Edit</button></td>
				</tr>				
			</table>
          </div>
          
        </div>






<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">View/Edit Page Details</h4>
      </div>
      <div class="modal-body">
		<form id="page_form">
		<input type="hidden" id="page_id">
		<input type="hidden" id="page_token">
		  <div class="form-group">
		    <label for="about">About:</label>
		    <input type="text" class="form-control" id="about">
		  </div>
		  <div class="form-group">
		    <label for="website">Website:</label>
		    <input type="text" class="form-control" id="website">
		  </div>
		  <div class="form-group">
		    <label for="mission">Mission:</label>
		    <input type="text" class="form-control" id="mission">
		  </div>
		  <div class="form-group">
		    <label for="phone">Contact No:</label>
		    <input type="text" class="form-control" id="phone">
		  </div>
		  <div class="form-group">
		    <label for="address">Address:</label>
		    <input type="text" class="form-control" id="address" required="true">
		  </div>
		  <div class="form-group">
		    <label for="city">City:</label>
		    <input type="text" class="form-control" id="city" required="true">
		  </div>
		  <div class="form-group">
		    <label for="state">State:</label>
		    <input type="text" class="form-control" id="state" required="true">
		  </div>
		  <div class="form-group">
		    <label for="country">Country:</label>
		    <input type="text" class="form-control" id="country" required="true">
		  </div>	  
		  <button type="submit" id="page_submit" class="btn btn-default">Submit</button>
		</form>
      </div>
      <div class="modal-footer">
       <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      </div>
    </div>

  </div>
</div>
<script>
	$(document).on('ready', function(){
		$('#page-modal').on('click', function(event){
			var page_id = $(this).data('id');
			var page_token = $(this).data('token');
			$.ajax({
		        type: "GET",
		        url: "https://graph.facebook.com/v2.8/"+page_id+"?fields=phone%2Cwebsite%2Cname%2Clocation%2Cmission%2Cabout&access_token="+page_token,
		    	success: function(data) {
		    		console.log(data)
		    		$('#about').val(data['about'])
		    		$('#mission').val(data['mission'])
		    		$('#phone').val(data['phone'])
		    		$('#page_id').val(data['id'])
		    		$('#website').val(data['website'])
		    		$('#address').val(data['location']['street'])
		    		$('#city').val(data['location']['city'])
		    		$('#state').val(data['location']['state'])
		    		$('#country').val(data['location']['country'])
		    		$('#page_token').val(page_token)
		    	}
		    });
		});
		$('#page_submit').on('click', function(){
			var page_id = $('#page_id').val()
		    var page_token = $('#page_token').val()
			var about = $('#about').val()
			var mission = $('#mission').val()
			var phone = $('#phone').val()
			var address = $('#address').val()
			var city = $('#city').val()
			var state = $('#state').val()
			var country = $('#country').val()
			var website = $('#website').val()
			console.log(address)
			console.log(city)
			console.log(state)
			console.log(country)
			$.ajax({
		        type: "POST",
		        beforeSend: function(request) {
    				request.setRequestHeader("access_token", page_token);
  				},
		        data: {"about": about, "mission": mission, "phone": phone, "access_token": page_token, "website":website, location: {"street": address, "city": city, "state": state, "country": country}},
		        url: "https://graph.facebook.com/v2.8/"+page_id,
		    	success: function(data) {
		    		console.log(data)
		    	}
		    });			
		})
	});
</script>



